@charset "UTF-8";
/* CSS Document */

#o-bodyCopy{
	padding-bottom:20px;
	padding-top:20px;
	
}

.o-bodyCopy_options{
	display::none;	
}

.storycontent{
	font:13px/23px "Meiryo","MS PGothic","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #505050;
	width:600px;
	
}

.storycontent a, .storycontent a:visited{
	color: #505050;
	font-weight:bold;
}

.feature{
	width:100%;
	background-repeat: no-repeat;
  	background-size: 100px;
  	background-position: 0px 0px;
	min-height:100px;
	padding-left:110px;
	margin-bottom:20px;
}

.feature h2{
	padding-top:40px;
	
}

.feature h3{
	-webkit-margin-after: 0.05em;
	
}

#f_timeMarks{
	background-image:url("../images/timeMarkClock/clockface_256.png");	
}

#f_newHistory{
	background-image:url("../images/historyClock.png");	
}


#f_geo{
	background-image:url("../images/geo.png");	
}

.navbar-padding, .navbar-padding-line{
	padding-top:10px;
	cursor:default;	
}
.navbar-padding-line{
	border-bottom: 1px solid #CCC;
}

.navbar-gray{
	color: #505050;
}

.navbar-item-selected-gray{
	background: -webkit-linear-gradient(left, #cacaca, #cacaca 97%, #b8b8b8);
	color:#2c2c2c;
}
