body{
   font-family: Helvetica, Arial, sans-serif;
   margin:0px;
   padding:5px;
}

.popup_hold{
   width:380px;
}

.timemark{
   color:#4892cb;
   font-size:30px;
}

.label_small{
   color:#333333;
   font-size:12px;
}

.description{
   margin-bottom:5px;
}

.color_choices input[type="radio"]{
   display:none;
}

a.view_timemark{
   width:150px;
   background:#cccccc; /*#4892cb;*/
   border:1px solid #999999;
   display:block;
   padding:3px;
   text-align:center;
   text-decoration:none;
   color:#000000;
   -webkit-border-radius:5px;
   float:right;
   font-size:14px;
   margin-top:6px;
}

a.view_timemark:hover{
	background:#b3b3b3;
}

.color_label{
   width:20px;
   height:20px;
   padding:2px;
   display:inline-block;
}
.color_label img{
   margin-top:2px;
   margin-left:2px;
   margin-right:2px;
}

.chosen{
   background:#d1dee7;
   -webkit-border-radius:2px;
}

.submit_area{
   text-align:right;
}

.cancel{
   font-size:12px;
}


.button{
    -webkit-border-radius:5px;
}

.clear{
   width:100%;
   clear:both;
}

input[type="button"],input[type="submit"]{
   width:150px;
   background:#4892cb;
   border:1px solid #333333;
   display:inline-block;
   padding:3px;
   text-align:center;
   text-decoration:none;
   color:#ffffff;
   -webkit-border-radius:5px;
   font-size:14px;
   margin-top:5px;
   margin-left:5px;
}

input[type="button"],input[type="submit"]:hover{
	background:#346a93;
}

input[type="button"].cancel{
   margin-left:0px;
   width:120px;
   background:#5c9bcc;
}

input[type="button"].cancel:hover{
	background:#457599;
}

div#addForm{
   margin-top:20px;
}

#clock_image{
   margin-top:-8px;
}

#description{
   -webkit-border-radius:5px;
   margin-top:8px;
   border:1px solid #333333;
   padding:2px;
   width:280px;
}

#label-text-hold{
   color:#333333;
   font-size:10px;
}