/*** sidebar color style ***/
/*#h-leftSidebar {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 238, 243, 0)), to(#F2EBE4)), -webkit-gradient(linear, left top, right top, from(#F2EBE4), color-stop(0.97, #F2EBE4), to(#D6C9C0)); 
}*/

/*#historyFilters { padding-top: 5px; }
#historyFilters img { cursor: pointer; }
#historyFilters img:hover { opacity: 1 !important; }*/

#activeFilters_label { display: none; padding: 5px 0px; }

#th-dateBox { padding: 2px; float: left; }

#th-wrap { padding: 15px; }
#th-historyListWrap { width: 100%; }
#th-historyList { width: 100%; }
#th-historyListControls { width: 100%; text-align: center; }
#th-historyList_older { float: left; }
#th-historyList_today { margin: auto; }
#th-historyList_newer { float: right; }

#th-historyList .item:hover { background-color: #EEE; }

#th-historyList .edit { display: none; }

.th-historyListControl { display: inline-block; }

#th-contentFilters { padding-top: 5px; line-height:10px;}
#th-contentFilters img { cursor: pointer; }
#th-contentFilters img:hover { opacity: 1 !important; }

#th-filtersWrap { display: none; padding: 20px 2px 2px 2px; }

#th-message { color: #666; padding: 20px; display: none; }
#th-editButton { height: 20px; position: relative; left: 620px; top: 18px; }
