@charset "UTF-8";
/* CSS Document */

#bodyCopy_history .title {
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

#bodyCopy_history .title .aFakeLink {
  line-height:16px;
  padding: 4px 0px 0px 30px;
  text-shadow: 0px 1px 0px white;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
 -webkit-box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0px 0px;
  cursor:pointer;
}

#bodyCopy_history .description {
   padding: 0px 0px 0px 20px;
   text-shadow: 0px 1px 0px white;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
   cursor:pointer;
   line-height:16px;
   background:url("../images/arrow.png") no-repeat;
   float:left;
}

#bodyCopy_history .timeOfVisit{
	width: 60px;	
}
#bodyCopy_history .gap {
	border-left: 1px solid #DDD;
	height: 16px;
	margin-left:14px;
	width: 46px;
	min-width: 46px;
}

.historyButtons{
	padding-top:20px;
	padding-bottom:20px;
	display: inline-block;	
	width:100%;
}

.history_button{
   width:150px;
   height: 16px;
   background:#b3b3b3;
   border:1px solid #333333;
   display:inline-block;
   padding:3px;
   text-align:center;
   text-decoration:none;
   color:#ffffff;
   -webkit-border-radius:5px;
   font-size:14px;
   margin-top:5px;
   margin-left:5px;
   cursor:pointer;
}
.history_button:hover{
	background:#4892cb;
}
#traditionalHistoryList{
	display: inline-block;	
}

.faviconFilter{
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 0px 0px;
	width:16px;
	height:16px;
	padding-right:5px;
	padding-bottom:10px;
	float:left;
	cursor:pointer;
}