/*** items table ***/
.itemTable { width: 100%; border-spacing: 0px; padding-right: 5px; cursor: default; -webkit-user-select: none; border-collapse: collapse; margin-bottom: 20px; }
.itemTable tr { height: 26px; /*display: block; /* to kill mouseout event when move between cells */ }
.out { display: none; }
.filtered { display: none; }
.itemTable td { height: 26px; padding: 0px 2px; }
.itemTable th { height: 26px; text-align: left; padding-top: 10px; }
.itemTable .item_name { width: 100%; padding: 0px 5px; }
.itemTable .item_name a { text-overflow: ellipsis; display: inline-block; width: 650px; }
.itemTable .item_date { white-space: nowrap; }
.itemTable .item_date .grey { color: #999999; }
.itemTable .item_time { display: inline-block; color: #919194; width: 60px; text-align: center; }
.itemTable .item_left { padding: 0px 8px; width: 70px; height: 100%; }
.itemTable a { overflow: hidden; text-overflow: ellipsis; color: #000000 !important; white-space: nowrap; }
.pivotBtn { width: 60px; display: none; }

.item_color { width: 0px; padding: 0px 3px 0px 0px !important; }
.item_icon { width: 16px; height: 16px; margin: 0px 5px; vertical-align: middle; }
