
.ABContainer { height: 30px; display: table; }

.ABButton { width: 25px; background: #00F; height: 30px; display: table-cell; border: none; vertical-align: middle;
            background: url("arrowbox_btn.png"); }
.ABButton:active { background:url("arrowbox_btn_pressed.png"); }

.ABLeftBtn { }
.ABRightBtn { -webkit-transform: scaleX(-1); transform: scaleX(-1); }

.ABDisplay { min-width: 100px; padding: 5px; display: table-cell; text-align: center; vertical-align: middle;
            font-size: 8pt; color: #919191; line-height: 22px;
            background: url("arrowbox_bg.png"); -webkit-user-select: none; cursor: default; }
.ABDisplay:active { background: url("arrowbox_bg_pressed.png"); }
